{%extends "layout.html"%}



{%block title%}

Add Hours

{%endblock%}



{%block content%}
    <div>
       <div style="text-align:center">
        <h2> Add Hours Page  </h2>
        <p> a page to add hours
             and details of the jobsite and 
              deductions/overtime. to append to data base </p>

        </div>
        <br>
        <hr>
        <br>
        <div>
            <div>
                <form>
                    <div>
                        <label>Date</label>
                        <input type="date">
                        <label>Start Time</label>
                        <input type="time">
                        <label>lunch</label>
                        <input type="time">
                        <label>End Time</label>
                        <input type="time">
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div>
                        <label>Job Name</label>
                        <input type="text" size="50">
                        <br>
                        <br>
                        <label>Note:</label>
                        <textarea rows="5" cols="30"></textarea>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div>
                        <input type="submit" value="Add Day">
                    </div>
                

                </form>
            </div>
        </div> 
    </div>
    
    
{%endblock%}